@use '../../../styles/mixin.scss' as mixin;
@use '../../../styles/color.scss' as clr;

body {
  background: clr.$bg-login;

  .login {
    position: relative;
    top: -80px;

    #wrapper {
      @include mixin.flex($align: center);
      position: relative;
      flex-direction: column;
      width: 700px;
      height: 761px;
      border: 1px solid clr.$clr-border;

      h1 {
        margin-top: 90px;
        margin-bottom: 130px;
        font-size: 81px;
        font-family: 'Lobster', cursive;
      }

      .login_form {
        display: flex;
        flex-direction: column;

        input {
          width: 536px;
          height: 76px;
          margin-bottom: 12px;
          padding-left: 10px;
          background: #fafafa;
          border: 1px solid clr.$clr-border;
          border-radius: 3px;
          font-size: 16px;
        }

        input[type='button'] {
          display: flex;
          width: 536px;
          height: 60px;
          margin-top: 16px;
          align-items: center;
          justify-content: center;
          background-color: clr.$clr-primary;
          opacity: 0.5;
          border: none;
          border-radius: 4px;
          font-size: 16px;
          color: #fff;

          &.blue {
            opacity: 1;
          }
        }
      }

      p {
        position: absolute;
        bottom: 20px;
        color: #043667;
      }
    }
  }
}
