@use '../../../styles/mixin.scss' as mixin;

#root {
  @include mixin.flex($justify: center, $align: flex-start);
  width: 100vw;

  .main {
    margin-top: 20px;
    // @include mixin.flex($justify: space-between, $align: flex-start);
    height: 100vh;
    position: relative;
    z-index: 10;
    width: 80%;
  }

  @media screen and (max-width: 1000px) {
    .main {
      .nav_wrap {
        nav {
          .logo {
            span {
              display: none;
            }
          }
          .logo:before {
            display: none;
          }
        }
      }
      .feeds {
        width: 100%;
      }

      .main-right {
        display: none;
      }
    }
  }
}
