@use '../../../../../styles/color' as color;
@use '../../../../../styles/mixin' as mixin;

.feed__comment {
  padding-top: 0.5rem;
  background-color: #fff;

  ul.comments {
    min-height: 10vh;
    padding-bottom: 1rem;
    border-bottom: 1px double lightgray;
  }

  .comment__input {
    position: relative;
    @include mixin.flex;
    padding-top: 1rem;

    svg.smile {
      position: absolute;
      top: 50%;
      left: 3%;
      transform: translateY(-50%);
    }

    textarea {
      display: inline-block;
      width: 100%;
      padding: 0 10%;
      border: none;
      background: transparent;
      outline: none;
    }

    .add__comment {
      position: absolute;
      top: 50%;
      right: 4%;
      background: transparent;
      border: none;
      outline: none;
      color: color.$clr-primary;
      opacity: 0.7;
      font-weight: bold;
      transform: translateY(-50%);
      cursor: pointer;

      &.active {
        opacity: 1;
      }
    }
  }
}
