@use '../../../../styles/mixin' as mixin;
@use '../../../../styles/color' as color;

.stories {
  padding: 0.75rem 1rem 1.25rem;
  @include mixin.flex($align: center);
  border: 1px solid color.$clr-border;
  overflow: hidden;
  position: relative; // for arrow position

  &__box {
    @include mixin.flex($align: center);
    gap: 1em;
    transition: all 0.4s linear;
    position: relative; // arrow가 앞에 나오는 문제 해결 위한 position
    z-index: 10;

    .story {
      --img-size: 3.5rem;
      --mr: 0;
      --inset: -5px;

      &::before {
        content: '';
        position: absolute;
        inset: -3px;
        background: #fff;
        border-radius: 50%;
      }

      img {
        border-radius: 50%;
        position: relative; // story의 pseudo요소 보다 앞에 오기 위한 position
      }

      p {
        position: absolute;
        top: 115%;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 0.75rem;
      }
    }
  }

  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(229, 231, 235, 0.7);
    cursor: pointer;
    animation: fadeInArrow 10ms 2.5s forwards;

    &.left {
      left: 2%;
    }
    &.right {
      right: 2%;
    }
    &:hover {
      opacity: 0.9;
    }
    &.hidden {
      opacity: 0;
    }
  }

  // @keyframes skeletonLoading {
  //   from {
  //     background-position: right;
  //   }
  //   to {
  //     background-position: left;
  //   }
  // }

  // @keyframes imgLoaded {
  //   100% {
  //     z-index: -1;
  //     background: color.$instaGradation;
  //     background-size: 100%;
  //   }
  // }

  // @keyframes fadeInArrow {
  //   to {
  //     z-index: 10;
  //   }
  // }
}
