@use '../../styles/color' as color;

.navbar {
  z-index: 999;
  min-height: 3rem;
  --padding: 15vw;
  padding: 0 var(--padding);

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  inset: 0;
  bottom: 91vh;
  background-color: #fff;
  box-shadow: 0 0 3px lightgray;

  h1 {
    display: flex;
    position: relative;

    svg {
      margin-right: 10px;
    }

    &:before {
      content: '';
      position: absolute;
      display: inline-block;
      width: 2px;
      height: 30px;
      background: #000;
      left: 43px;
      top: 5px;
    }
  }

  .search {
    position: relative;
    input {
      padding: 0.65rem 2.5rem;
      padding-left: 1.75rem;
      font-size: 0.75rem;
      border: 1px solid color.$clr-border;
      border-radius: 0.3em;
      outline: none;
    }

    .icon {
      position: absolute;
      left: 3%;
      top: 50%;
      transform: translateY(-50%);
      font-size: 0.975rem;
      color: lightgray;
    }
  }

  &__icons {
    position: relative;
    .icon,
    img {
      cursor: pointer;
      width: 1.75rem;
      height: 1.75rem;
      margin: 0 0.25rem;
    }
  }
  & img {
    border-radius: 50%;
    display: inline-block;
  }

  @media screen and (max-width: 968px) {
    & {
      --padding: 5vw;
    }
  }

  @media screen and (max-width: 700px) {
    & h1 {
      &::before {
        display: none;
      }
      .title {
        display: none;
      }
    }
  }
}
