.modal {
  position: fixed;
  z-index: 1100;
  top: 6rem;
  left: 30vw;
  top: 25vh;
  min-width: 560px;
  width: 42vw;
  height: max(20vw, 30vh);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 3fr;
  background: #fffff0;
  border-radius: 1.5rem;
  box-shadow: 0 0 5px 3px lightgray;
  text-align: center;

  img {
    --img-size: max(20vw, 30vh, 5rem);
    padding: 0.875em;
    grid-row: 1/3;
    border-radius: 1.25rem;
  }

  svg {
    position: relative;
    left: 85%;
    top: 1em;
    cursor: pointer;
  }

  h1 {
    position: relative;
    right: 2rem;
    .heart_bubble {
      @for $i from 1 through 25 {
        &:nth-child(#{$i}) {
          &::after {
            content: '♥️';
            position: absolute;
            left: calc(random($limit: 16) * 5%);
            bottom: -calc(random($limit: 10) * 0.25rem);
            font-size: calc(0.125rem * random($limit: 10));
            animation: heartBubbles 1.5s linear infinite;
            animation-delay: random(5) * 1s;
            opacity: 0;
          }
        }
      }
    }
  }

  @keyframes heartBubbles {
    0% {
      opacity: 0.6;
      transform: translateY(0);
    }

    100% {
      transform: translateY(-10vw);
      opacity: 0;
    }
  }
}
