@use '../../../styles/color' as color;

.joonyoung_main {
  --bg-skeleton: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.2) 20%,
    rgba(255, 255, 255, 0.7) 60%,
    rgba(255, 255, 255, 0)
  );
  --bg-gradiant: color.$instaGradation;

  position: relative;
  display: grid;
  grid-template-columns: 35rem 16rem;
  grid-template-rows: 7rem auto;
  margin-bottom: 5rem;

  &.modalOpen::before {
    content: '';
    position: fixed;
    inset: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.2);
  }

  img {
    display: block;
    min-width: var(--img-size, 100%);
    max-width: var(--img-size, 100%);
    height: var(--img-size);
    object-fit: cover;
  }

  .img__skeleton,
  .story {
    margin-right: var(--mr, 1em);
    width: var(--img-size);
    height: var(--img-size);
    position: relative;

    &::after {
      content: '';
      position: absolute;
      inset: var(--inset, 0);
      border-radius: var(--radius, 50%);
      background: darkgray var(--bg-skeleton) right / 200%;
      animation: skeletonLoading 2s ease-out alternate 3,
        imgLoaded 10ms 2.5s forwards;
    }
  }

  @keyframes skeletonLoading {
    to {
      background: darkgray var(--bg-skeleton);
      background-position: left;
      background-size: 200%;
    }
  }

  @keyframes imgLoaded {
    to {
      z-index: -1;
      background: var(--bg-loaded, color.$instaGradation);
      background-size: 100%;
    }
  }

  @keyframes fadeInArrow {
    to {
      z-index: 10;
    }
  }
}
